$main-blue: #03406a;

body {
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: 100;
  color: $main-blue;
  margin: 0;
}

.container {
  max-width: 780px;
  margin: 0 auto;
  text-align: left;
}

.panel {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  background: #03406a;
  color: white;
  vertical-align: top;
  text-decoration: none;

  i {
    font-size: 45px;
  }

  h1 {
    color: white;
    font-size: 38px;
    margin-top: 15px;
  }

  h4, h5 {
    margin: 10px 0;
  }

  &.github {
    background-color: #f5f5f5;
    color: #333;
  }

  &.twitter {
    background-color: #1da1f2;
  }

  &.px500 {
    background-color: #222;
  }

  &.flickr {
    background-color: #f5f5f5;
    color: #0063dc;

    h5 {
      font-size: 15px;
      color: #ff0084;
    }
  }

  &.px500crocs {
    background: url(https://drscdn.500px.org/photo/95162451/q%3D80_h%3D300/d9296aeb1a749d8c4d89826104f56488);
    background-size: cover;
    background-position: right;
  }

  &.obi {
    background: url(https://drscdn.500px.org/photo/110098607/q%3D80_h%3D300/f5c9bcf08f085c69fa4dde310872e069);
    background-size: cover;
    background-position: 50% 60%;
  }

  &.monkey {
    background: url(https://photodrop.storage.googleapis.com/photos/ryanfisher/16a6b02b08b2d1cb8f2b61dc66b47f46/thumb_20150101-IMG_7751.jpg);
    background-size: cover;
  }
}

a.panel:hover {
  opacity: 0.5;
}
