$main-blue: #03406a;

body {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.container {
  max-width: 780px;
  margin: 0 auto;
  text-align: left;
}

h1 {
  font-size: 30px;
  font-weight: 100;
}
